In [1]:
import pandas as pd
import openpyxl
clientes = pd.read_excel('./DATOSCONTUGAS.xlsx', sheet_name=None)
nuevos = pd.read_excel('./BASE_MUESTRAS_2K.xlsx', sheet_name=None)

In [2]:
df = []

# Crear columna con el nombre del cliente
for nombre_cliente, df_cliente in clientes.items():
    df_cliente['CLIENTE'] = nombre_cliente  # Agregar columna con nombre del cliente
    df.append(df_cliente)

# Unir todos los DataFrames en uno solo
df = pd.concat(df, ignore_index=True)

# Mostrar el resultado
df.head()

                Fecha    Presion  Temperatura    Volumen   CLIENTE
0 2019-01-14 00:00:00  17.732563    28.209354  20.969751  CLIENTE1
1 2019-01-14 01:00:00  17.747776    28.518614  17.845739  CLIENTE1
2 2019-01-14 02:00:00  17.758916    28.230191  20.975914  CLIENTE1
3 2019-01-14 03:00:00  17.727940    27.811509  20.592299  CLIENTE1
4 2019-01-14 04:00:00  17.746484    27.795293  21.690626  CLIENTE1

In [3]:
df['anio'] = df['Fecha'].dt.year
df['mes'] = df['Fecha'].dt.month
df['dia'] = df['Fecha'].dt.day
df['hora'] = df['Fecha'].dt.hour
df['dia_semana'] = df['Fecha'].dt.dayofweek

In [4]:
df2 = []

# Crear columna con el nombre del cliente
for nombre_cliente, df_cliente in nuevos.items():
    df_cliente['CLIENTE'] = nombre_cliente  # Agregar columna con nombre del cliente
    df2.append(df_cliente)

# Unir todos los DataFrames en uno solo
df2 = pd.concat(df2, ignore_index=True)

# Mostrar el resultado
df2.head()

                Fecha    Presion  Temperatura    Volumen   CLIENTE
0 2024-01-15 01:00:00  17.609430    25.355845   5.794495  CLIENTE1
1 2024-01-15 02:00:00  17.684871    21.415603   3.235093  CLIENTE1
2 2024-01-15 03:00:00  17.753566    27.809774  22.710818  CLIENTE1
3 2024-01-15 04:00:00  17.633713    21.638795  24.273979  CLIENTE1
4 2024-01-15 05:00:00  17.679014    30.383308  24.121057  CLIENTE1

In [5]:
df2['anio'] = df2['Fecha'].dt.year
df2['mes'] = df2['Fecha'].dt.month
df2['dia'] = df2['Fecha'].dt.day
df2['hora'] = df2['Fecha'].dt.hour
df2['dia_semana'] = df2['Fecha'].dt.dayofweek

In [6]:
data = pd.concat([df,df2], ignore_index =True)

In [7]:
data

,Fecha,Presion,Temperatura,Volumen,CLIENTE,anio,mes,dia,hora,dia_semana
0,2019-01-14 00:00:00,17.732563,28.209354,20.969751,CLIENTE1,2019,1,14,0,0
1,2019-01-14 01:00:00,17.747776,28.518614,17.845739,CLIENTE1,2019,1,14,1,0
2,2019-01-14 02:00:00,17.758916,28.230191,20.975914,CLIENTE1,2019,1,14,2,0
3,2019-01-14 03:00:00,17.727940,27.811509,20.592299,CLIENTE1,2019,1,14,3,0
4,2019-01-14 04:00:00,17.746484,27.795293,21.690626,CLIENTE1,2019,1,14,4,0
...,...,...,...,...,...,...,...,...,...,...
887955,2024-04-07 04:00:00,17.836081,23.184103,182.650026,CLIENTE20,2024,4,7,4,6
887956,2024-04-07 05:00:00,17.796836,28.056064,64.889148,CLIENTE20,2024,4,7,5,6
887957,2024-04-07 06:00:00,17.736367,29.643336,197.911966,CLIENTE20,2024,4,7,6,6
887958,2024-04-07 07:00:00,17.913598,29.412136,213.055514,CLIENTE20,2024,4,7,7,6
887959,2024-04-07 08:00:00,17.806162,23.607387,231.088437,CLIENTE20,2024,4,7,8,6

In [4]:
df['anio'].unique()

array([2019, 2020, 2021, 2022, 2023], dtype=int32)

In [11]:
df.dtypes

Fecha          datetime64[ns]
Presion               float64
Temperatura           float64
Volumen               float64
CLIENTE                object
anio                    int32
mes                     int32
dia                     int32
hora                    int32
dia_semana              int32
dtype: object

In [21]:
print([{'label': anio, 'value': anio} for anio in df['dia'].unique()])

[{'label': np.int32(14), 'value': np.int32(14)}, {'label': np.int32(15), 'value': np.int32(15)}, {'label': np.int32(16), 'value': np.int32(16)}, {'label': np.int32(17), 'value': np.int32(17)}, {'label': np.int32(18), 'value': np.int32(18)}, {'label': np.int32(19), 'value': np.int32(19)}, {'label': np.int32(20), 'value': np.int32(20)}, {'label': np.int32(21), 'value': np.int32(21)}, {'label': np.int32(22), 'value': np.int32(22)}, {'label': np.int32(23), 'value': np.int32(23)}, {'label': np.int32(24), 'value': np.int32(24)}, {'label': np.int32(25), 'value': np.int32(25)}, {'label': np.int32(26), 'value': np.int32(26)}, {'label': np.int32(27), 'value': np.int32(27)}, {'label': np.int32(28), 'value': np.int32(28)}, {'label': np.int32(29), 'value': np.int32(29)}, {'label': np.int32(30), 'value': np.int32(30)}, {'label': np.int32(31), 'value': np.int32(31)}, {'label': np.int32(1), 'value': np.int32(1)}, {'label': np.int32(2), 'value': np.int32(2)}, {'label': np.int32(3), 'value': np.int32(3)}, {'label': np.int32(4), 'value': np.int32(4)}, {'label': np.int32(5), 'value': np.int32(5)}, {'label': np.int32(6), 'value': np.int32(6)}, {'label': np.int32(7), 'value': np.int32(7)}, {'label': np.int32(8), 'value': np.int32(8)}, {'label': np.int32(9), 'value': np.int32(9)}, {'label': np.int32(10), 'value': np.int32(10)}, {'label': np.int32(11), 'value': np.int32(11)}, {'label': np.int32(12), 'value': np.int32(12)}, {'label': np.int32(13), 'value': np.int32(13)}]

In [13]:
df['anio'].unique()[0]

np.int32(2019)

In [23]:
df['Fecha'] = pd.to_datetime(df['Fecha'])

In [25]:
df.dtypes

Fecha          datetime64[ns]
Presion               float64
Temperatura           float64
Volumen               float64
CLIENTE                object
anio                    int32
mes                     int32
dia                     int32
hora                    int32
dia_semana              int32
dtype: object

In [6]:
fecha_max = max(df['Fecha'])

In [15]:
df['Fecha'].min()

Timestamp('2019-01-14 00:00:00')

In [16]:
df['Fecha'].max()

Timestamp('2023-12-31 23:00:00')

In [7]:
fecha_max

Timestamp('2023-12-31 23:00:00')

In [9]:
fecha_inicio = fecha_max - pd.Timedelta(days=7)

In [10]:
fecha_inicio

Timestamp('2023-12-24 23:00:00')

In [11]:
data_reciente = df[df['Fecha'] >= fecha_inicio]

In [12]:
data_reciente

,Fecha,Presion,Temperatura,Volumen,CLIENTE,anio,mes,dia,hora,dia_semana
43243,2023-12-24 23:00:00,16.274966,26.088891,11.967239,CLIENTE1,2023,12,24,23,6
43244,2023-12-25 00:00:00,16.268374,24.634007,10.834083,CLIENTE1,2023,12,25,0,0
43245,2023-12-25 01:00:00,16.259557,26.331499,11.222853,CLIENTE1,2023,12,25,1,0
43246,2023-12-25 02:00:00,16.260995,25.537389,9.268159,CLIENTE1,2023,12,25,2,0
43247,2023-12-25 03:00:00,16.263708,26.324259,5.784253,CLIENTE1,2023,12,25,3,0
...,...,...,...,...,...,...,...,...,...,...
847955,2023-12-31 19:00:00,15.751139,27.460652,204.457549,CLIENTE20,2023,12,31,19,6
847956,2023-12-31 20:00:00,15.614858,27.010382,186.512096,CLIENTE20,2023,12,31,20,6
847957,2023-12-31 21:00:00,15.598944,26.709100,204.456461,CLIENTE20,2023,12,31,21,6
847958,2023-12-31 22:00:00,15.730040,27.266090,203.695596,CLIENTE20,2023,12,31,22,6
847959,2023-12-31 23:00:00,15.624457,27.481288,201.534548,CLIENTE20,2023,12,31,23,6

In [13]:
promedios = data_reciente.groupby('CLIENTE')['Presion'].mean().reset_index()

In [14]:
promedios

      CLIENTE    Presion
0    CLIENTE1  16.141374
1   CLIENTE10  17.492202
2   CLIENTE11   3.577885
3   CLIENTE12  16.965158
4   CLIENTE13  17.489417
5   CLIENTE14  16.024428
6   CLIENTE15  17.451619
7   CLIENTE16  15.967774
8   CLIENTE17  16.023433
9   CLIENTE18  16.288083
10  CLIENTE19  16.331805
11   CLIENTE2  16.235041
12  CLIENTE20  15.786620
13   CLIENTE3   3.594894
14   CLIENTE4  16.330691
15   CLIENTE5  16.116884
16   CLIENTE6  15.997152
17   CLIENTE7  16.553143
18   CLIENTE8  16.003413
19   CLIENTE9  17.311361

In [8]:
df[df['Fecha'] == fecha_max]

,Fecha,Presion,Temperatura,Volumen,CLIENTE,anio,mes,dia,hora,dia_semana
43411,2023-12-31 23:00:00,15.885152,26.504426,10.038946,CLIENTE1,2023,12,31,23,6
84793,2023-12-31 23:00:00,16.235605,28.296402,43.038392,CLIENTE2,2023,12,31,23,6
127041,2023-12-31 23:00:00,3.547069,28.558281,143.409396,CLIENTE3,2023,12,31,23,6
169346,2023-12-31 23:00:00,16.372256,26.216659,0.000000,CLIENTE4,2023,12,31,23,6
212761,2023-12-31 23:00:00,15.849333,22.762741,11.417578,CLIENTE5,2023,12,31,23,6
255569,2023-12-31 23:00:00,15.686217,25.195488,139.281649,CLIENTE6,2023,12,31,23,6
297345,2023-12-31 23:00:00,16.432172,29.152388,71.848853,CLIENTE7,2023,12,31,23,6
340492,2023-12-31 23:00:00,15.658679,29.399192,234.409474,CLIENTE8,2023,12,31,23,6
382920,2023-12-31 23:00:00,16.751924,26.043123,306.158362,CLIENTE9,2023,12,31,23,6
423979,2023-12-31 23:00:00,17.449383,24.072402,0.000000,CLIENTE10,2023,12,31,23,6
466227,2023-12-31 23:00:00,3.536632,29.705371,144.034603,CLIENTE11,2023,12,31,23,6
508003,2023-12-31 23:00:00,16.881737,30.960485,70.950388,CLIENTE12,2023,12,31,23,6
549062,2023-12-31 23:00:00,17.483417,23.559238,0.000000,CLIENTE13,2023,12,31,23,6
592477,2023-12-31 23:00:00,15.685988,25.933428,13.718779,CLIENTE14,2023,12,31,23,6
634905,2023-12-31 23:00:00,17.474108,26.698372,98.590042,CLIENTE15,2023,12,31,23,6
678052,2023-12-31 23:00:00,16.165567,28.252473,123.692649,CLIENTE16,2023,12,31,23,6
721464,2023-12-31 23:00:00,15.678946,27.113907,16.863988,CLIENTE17,2023,12,31,23,6
762846,2023-12-31 23:00:00,16.260915,28.091928,64.950216,CLIENTE18,2023,12,31,23,6
805151,2023-12-31 23:00:00,16.335212,26.760407,0.000000,CLIENTE19,2023,12,31,23,6
847959,2023-12-31 23:00:00,15.624457,27.481288,201.534548,CLIENTE20,2023,12,31,23,6

In [8]:
df2

,Fecha,Presion,Temperatura,Volumen,CLIENTE,anio,mes,dia,hora,dia_semana
0,2024-01-15 01:00:00,17.609430,25.355845,5.794495,CLIENTE1,2024,1,15,1,0
1,2024-01-15 02:00:00,17.684871,21.415603,3.235093,CLIENTE1,2024,1,15,2,0
2,2024-01-15 03:00:00,17.753566,27.809774,22.710818,CLIENTE1,2024,1,15,3,0
3,2024-01-15 04:00:00,17.633713,21.638795,24.273979,CLIENTE1,2024,1,15,4,0
4,2024-01-15 05:00:00,17.679014,30.383308,24.121057,CLIENTE1,2024,1,15,5,0
...,...,...,...,...,...,...,...,...,...,...
39995,2024-04-07 04:00:00,17.836081,23.184103,182.650026,CLIENTE20,2024,4,7,4,6
39996,2024-04-07 05:00:00,17.796836,28.056064,64.889148,CLIENTE20,2024,4,7,5,6
39997,2024-04-07 06:00:00,17.736367,29.643336,197.911966,CLIENTE20,2024,4,7,6,6
39998,2024-04-07 07:00:00,17.913598,29.412136,213.055514,CLIENTE20,2024,4,7,7,6
39999,2024-04-07 08:00:00,17.806162,23.607387,231.088437,CLIENTE20,2024,4,7,8,6

In [38]:
import joblib

In [41]:
type(scaler1)

sklearn.preprocessing._data.StandardScaler

In [42]:
def cargar_recursos(cliente):
    """Carga modelo y escalador para un cliente específico"""
    try:
        # Cargar escalador
        scaler = joblib.load(f"./escaladores_cliente/scaler_{cliente}.pkl")
        
        # Cargar modelo
        model = joblib.load(f"./modelos_combinados/modelo_IF_{cliente}.pkl")
            
        return scaler, model
    except Exception as e:
        print(f"Error cargando recursos para {cliente}: {e}")
        return None, None

In [ ]:
scaler1, modelo1 = cargar_recursos("CLIENTE1")
print(type(scaler1))
print(type(modelo1))

In [89]:
import warnings
warnings.filterwarnings("ignore")

In [95]:
def escalar_variables(df):
    data_scaled = df.copy()
    clientes = list(data_scaled['CLIENTE'].unique())
    cols_to_scale = ['Presion', 'Temperatura', 'Volumen']

    for cliente in clientes:
        mask_cliente = data_scaled['CLIENTE'] == cliente
        scaler, _ = cargar_recursos(cliente)
        data_scaled.loc[mask_cliente, cols_to_scale] = scaler.transform(data_scaled.loc[mask_cliente, cols_to_scale])
        print(f"escalado cliente: {cliente}")

    return data_scaled

In [91]:
data_scaled = escalar_variables(df2)

escalado cliente: CLIENTE1
escalado cliente: CLIENTE2
escalado cliente: CLIENTE3
escalado cliente: CLIENTE4
escalado cliente: CLIENTE5
escalado cliente: CLIENTE6
escalado cliente: CLIENTE7
escalado cliente: CLIENTE8
escalado cliente: CLIENTE9
escalado cliente: CLIENTE10
escalado cliente: CLIENTE11
escalado cliente: CLIENTE12
escalado cliente: CLIENTE13
escalado cliente: CLIENTE14
escalado cliente: CLIENTE15
escalado cliente: CLIENTE16
escalado cliente: CLIENTE17
escalado cliente: CLIENTE18
escalado cliente: CLIENTE19
escalado cliente: CLIENTE20

In [93]:
data_scaled.rename(columns = {"Presion": "Presion_resid",
                              "Temperatura": "Temperatura_resid",
                              "Volumen": "Volumen_resid"},
                             inplace = True)

In [101]:
data_scaled

,Fecha,Presion_resid,Temperatura_resid,Volumen_resid,CLIENTE,anio,mes,dia,hora,dia_semana
0,2024-01-15 01:00:00,0.204344,-0.079704,-1.787282,CLIENTE1,2024,1,15,1,0
1,2024-01-15 02:00:00,0.415009,-1.510676,-2.109580,CLIENTE1,2024,1,15,2,0
2,2024-01-15 03:00:00,0.606837,0.811485,0.342945,CLIENTE1,2024,1,15,3,0
3,2024-01-15 04:00:00,0.272153,-1.429619,0.539790,CLIENTE1,2024,1,15,4,0
4,2024-01-15 05:00:00,0.398653,1.746111,0.520532,CLIENTE1,2024,1,15,5,0
...,...,...,...,...,...,...,...,...,...,...
39995,2024-04-07 04:00:00,0.626517,-0.826910,0.267807,CLIENTE20,2024,4,7,4,6
39996,2024-04-07 05:00:00,0.530075,0.988955,-1.152454,CLIENTE20,2024,4,7,5,6
39997,2024-04-07 06:00:00,0.381474,1.580559,0.451874,CLIENTE20,2024,4,7,6,6
39998,2024-04-07 07:00:00,0.817012,1.494387,0.634514,CLIENTE20,2024,4,7,7,6
39999,2024-04-07 08:00:00,0.552993,-0.669144,0.852001,CLIENTE20,2024,4,7,8,6

In [108]:
def predecir_anomalias(df):
    resultados_anomalias = pd.DataFrame()
    clientes = list(df['CLIENTE'].unique())
    clientes_if = {'CLIENTE15', 'CLIENTE18', 'CLIENTE13', 'CLIENTE10', 'CLIENTE9'}

    for cliente in clientes:
        df_cliente = df[df['CLIENTE'] == cliente].copy()
        _, modelo = cargar_recursos(cliente)

        if cliente in clientes_if:
            features = ['Presion', 'Temperatura', 'Volumen']
            df_cliente.rename(columns = {"Presion_resid": "Presion",
                              "Temperatura_resid": "Temperatura",
                              "Volumen_resid": "Volumen"},
                             inplace = True)
            df_cliente['anomalia'] = modelo.predict(df_cliente[features])
            df_cliente.rename(columns = {"Presion": "Presion_resid",
                              "Temperatura": "Temperatura_resid",
                              "Volumen": "Volumen_resid"},
                             inplace = True)
        else:
            features = ['Presion_resid', 'Volumen_resid', 'Temperatura_resid']
            df_cliente['anomalia'] = modelo.predict(df_cliente[features])

        resultados_anomalias = pd.concat([resultados_anomalias,df_cliente])   
        print(f"predicción realizada para cliente: {cliente}")

    return resultados_anomalias

In [109]:
resultados = predecir_anomalias(data_scaled)

predicción realizada para cliente: CLIENTE1
predicción realizada para cliente: CLIENTE2
predicción realizada para cliente: CLIENTE3
predicción realizada para cliente: CLIENTE4
predicción realizada para cliente: CLIENTE5
predicción realizada para cliente: CLIENTE6
predicción realizada para cliente: CLIENTE7
predicción realizada para cliente: CLIENTE8
predicción realizada para cliente: CLIENTE9
predicción realizada para cliente: CLIENTE10
predicción realizada para cliente: CLIENTE11
predicción realizada para cliente: CLIENTE12
predicción realizada para cliente: CLIENTE13
predicción realizada para cliente: CLIENTE14
predicción realizada para cliente: CLIENTE15
predicción realizada para cliente: CLIENTE16
predicción realizada para cliente: CLIENTE17
predicción realizada para cliente: CLIENTE18
predicción realizada para cliente: CLIENTE19
predicción realizada para cliente: CLIENTE20

In [111]:
resultados[resultados['anomalia'] == -1]

,Fecha,Presion_resid,Temperatura_resid,Volumen_resid,CLIENTE,anio,mes,dia,hora,dia_semana,anomalia
0,2024-01-15 01:00:00,0.204344,-0.079704,-1.787282,CLIENTE1,2024,1,15,1,0,-1
1,2024-01-15 02:00:00,0.415009,-1.510676,-2.109580,CLIENTE1,2024,1,15,2,0,-1
2,2024-01-15 03:00:00,0.606837,0.811485,0.342945,CLIENTE1,2024,1,15,3,0,-1
5,2024-01-15 06:00:00,0.441521,0.927630,0.832459,CLIENTE1,2024,1,15,6,0,-1
6,2024-01-15 07:00:00,0.716950,0.152255,0.927907,CLIENTE1,2024,1,15,7,0,-1
...,...,...,...,...,...,...,...,...,...,...,...
39844,2024-03-31 21:00:00,-4.564474,0.326546,0.693975,CLIENTE20,2024,3,31,21,6,-1
39850,2024-04-01 03:00:00,-3.833630,-0.005402,-0.502877,CLIENTE20,2024,4,1,3,0,-1
39857,2024-04-01 10:00:00,-4.745927,0.639381,0.342942,CLIENTE20,2024,4,1,10,0,-1
39947,2024-04-05 04:00:00,-4.405105,-0.831136,-1.112415,CLIENTE20,2024,4,5,4,4,-1
39973,2024-04-06 06:00:00,-3.579417,-1.405598,-1.702438,CLIENTE20,2024,4,6,6,5,-1