In [1]:
import pandas as pd
import openpyxl
clientes = pd.read_excel('./DATOSCONTUGAS.xlsx', sheet_name=None)

In [2]:
df = []

# Crear columna con el nombre del cliente
for nombre_cliente, df_cliente in clientes.items():
    df_cliente['CLIENTE'] = nombre_cliente  # Agregar columna con nombre del cliente
    df.append(df_cliente)

# Unir todos los DataFrames en uno solo
df = pd.concat(df, ignore_index=True)

# Mostrar el resultado
df.head()

                Fecha    Presion  Temperatura    Volumen   CLIENTE
0 2019-01-14 00:00:00  17.732563    28.209354  20.969751  CLIENTE1
1 2019-01-14 01:00:00  17.747776    28.518614  17.845739  CLIENTE1
2 2019-01-14 02:00:00  17.758916    28.230191  20.975914  CLIENTE1
3 2019-01-14 03:00:00  17.727940    27.811509  20.592299  CLIENTE1
4 2019-01-14 04:00:00  17.746484    27.795293  21.690626  CLIENTE1

In [3]:
df['anio'] = df['Fecha'].dt.year
df['mes'] = df['Fecha'].dt.month
df['dia'] = df['Fecha'].dt.day
df['hora'] = df['Fecha'].dt.hour
df['dia_semana'] = df['Fecha'].dt.dayofweek

In [4]:
df['anio'].unique()

array([2019, 2020, 2021, 2022, 2023], dtype=int32)

In [11]:
df.dtypes

Fecha          datetime64[ns]
Presion               float64
Temperatura           float64
Volumen               float64
CLIENTE                object
anio                    int32
mes                     int32
dia                     int32
hora                    int32
dia_semana              int32
dtype: object

In [21]:
print([{'label': anio, 'value': anio} for anio in df['dia'].unique()])

[{'label': np.int32(14), 'value': np.int32(14)}, {'label': np.int32(15), 'value': np.int32(15)}, {'label': np.int32(16), 'value': np.int32(16)}, {'label': np.int32(17), 'value': np.int32(17)}, {'label': np.int32(18), 'value': np.int32(18)}, {'label': np.int32(19), 'value': np.int32(19)}, {'label': np.int32(20), 'value': np.int32(20)}, {'label': np.int32(21), 'value': np.int32(21)}, {'label': np.int32(22), 'value': np.int32(22)}, {'label': np.int32(23), 'value': np.int32(23)}, {'label': np.int32(24), 'value': np.int32(24)}, {'label': np.int32(25), 'value': np.int32(25)}, {'label': np.int32(26), 'value': np.int32(26)}, {'label': np.int32(27), 'value': np.int32(27)}, {'label': np.int32(28), 'value': np.int32(28)}, {'label': np.int32(29), 'value': np.int32(29)}, {'label': np.int32(30), 'value': np.int32(30)}, {'label': np.int32(31), 'value': np.int32(31)}, {'label': np.int32(1), 'value': np.int32(1)}, {'label': np.int32(2), 'value': np.int32(2)}, {'label': np.int32(3), 'value': np.int32(3)}, {'label': np.int32(4), 'value': np.int32(4)}, {'label': np.int32(5), 'value': np.int32(5)}, {'label': np.int32(6), 'value': np.int32(6)}, {'label': np.int32(7), 'value': np.int32(7)}, {'label': np.int32(8), 'value': np.int32(8)}, {'label': np.int32(9), 'value': np.int32(9)}, {'label': np.int32(10), 'value': np.int32(10)}, {'label': np.int32(11), 'value': np.int32(11)}, {'label': np.int32(12), 'value': np.int32(12)}, {'label': np.int32(13), 'value': np.int32(13)}]

In [13]:
df['anio'].unique()[0]

np.int32(2019)

In [23]:
df['Fecha'] = pd.to_datetime(df['Fecha'])

In [25]:
df.dtypes

Fecha          datetime64[ns]
Presion               float64
Temperatura           float64
Volumen               float64
CLIENTE                object
anio                    int32
mes                     int32
dia                     int32
hora                    int32
dia_semana              int32
dtype: object

In [6]:
fecha_max = max(df['Fecha'])

In [15]:
df['Fecha'].min()

Timestamp('2019-01-14 00:00:00')

In [16]:
df['Fecha'].max()

Timestamp('2023-12-31 23:00:00')

In [7]:
fecha_max

Timestamp('2023-12-31 23:00:00')

In [9]:
fecha_inicio = fecha_max - pd.Timedelta(days=7)

In [10]:
fecha_inicio

Timestamp('2023-12-24 23:00:00')

In [11]:
data_reciente = df[df['Fecha'] >= fecha_inicio]

In [12]:
data_reciente

,Fecha,Presion,Temperatura,Volumen,CLIENTE,anio,mes,dia,hora,dia_semana
43243,2023-12-24 23:00:00,16.274966,26.088891,11.967239,CLIENTE1,2023,12,24,23,6
43244,2023-12-25 00:00:00,16.268374,24.634007,10.834083,CLIENTE1,2023,12,25,0,0
43245,2023-12-25 01:00:00,16.259557,26.331499,11.222853,CLIENTE1,2023,12,25,1,0
43246,2023-12-25 02:00:00,16.260995,25.537389,9.268159,CLIENTE1,2023,12,25,2,0
43247,2023-12-25 03:00:00,16.263708,26.324259,5.784253,CLIENTE1,2023,12,25,3,0
...,...,...,...,...,...,...,...,...,...,...
847955,2023-12-31 19:00:00,15.751139,27.460652,204.457549,CLIENTE20,2023,12,31,19,6
847956,2023-12-31 20:00:00,15.614858,27.010382,186.512096,CLIENTE20,2023,12,31,20,6
847957,2023-12-31 21:00:00,15.598944,26.709100,204.456461,CLIENTE20,2023,12,31,21,6
847958,2023-12-31 22:00:00,15.730040,27.266090,203.695596,CLIENTE20,2023,12,31,22,6
847959,2023-12-31 23:00:00,15.624457,27.481288,201.534548,CLIENTE20,2023,12,31,23,6

In [13]:
promedios = data_reciente.groupby('CLIENTE')['Presion'].mean().reset_index()

In [14]:
promedios

      CLIENTE    Presion
0    CLIENTE1  16.141374
1   CLIENTE10  17.492202
2   CLIENTE11   3.577885
3   CLIENTE12  16.965158
4   CLIENTE13  17.489417
5   CLIENTE14  16.024428
6   CLIENTE15  17.451619
7   CLIENTE16  15.967774
8   CLIENTE17  16.023433
9   CLIENTE18  16.288083
10  CLIENTE19  16.331805
11   CLIENTE2  16.235041
12  CLIENTE20  15.786620
13   CLIENTE3   3.594894
14   CLIENTE4  16.330691
15   CLIENTE5  16.116884
16   CLIENTE6  15.997152
17   CLIENTE7  16.553143
18   CLIENTE8  16.003413
19   CLIENTE9  17.311361

In [8]:
df[df['Fecha'] == fecha_max]

,Fecha,Presion,Temperatura,Volumen,CLIENTE,anio,mes,dia,hora,dia_semana
43411,2023-12-31 23:00:00,15.885152,26.504426,10.038946,CLIENTE1,2023,12,31,23,6
84793,2023-12-31 23:00:00,16.235605,28.296402,43.038392,CLIENTE2,2023,12,31,23,6
127041,2023-12-31 23:00:00,3.547069,28.558281,143.409396,CLIENTE3,2023,12,31,23,6
169346,2023-12-31 23:00:00,16.372256,26.216659,0.000000,CLIENTE4,2023,12,31,23,6
212761,2023-12-31 23:00:00,15.849333,22.762741,11.417578,CLIENTE5,2023,12,31,23,6
255569,2023-12-31 23:00:00,15.686217,25.195488,139.281649,CLIENTE6,2023,12,31,23,6
297345,2023-12-31 23:00:00,16.432172,29.152388,71.848853,CLIENTE7,2023,12,31,23,6
340492,2023-12-31 23:00:00,15.658679,29.399192,234.409474,CLIENTE8,2023,12,31,23,6
382920,2023-12-31 23:00:00,16.751924,26.043123,306.158362,CLIENTE9,2023,12,31,23,6
423979,2023-12-31 23:00:00,17.449383,24.072402,0.000000,CLIENTE10,2023,12,31,23,6
466227,2023-12-31 23:00:00,3.536632,29.705371,144.034603,CLIENTE11,2023,12,31,23,6
508003,2023-12-31 23:00:00,16.881737,30.960485,70.950388,CLIENTE12,2023,12,31,23,6
549062,2023-12-31 23:00:00,17.483417,23.559238,0.000000,CLIENTE13,2023,12,31,23,6
592477,2023-12-31 23:00:00,15.685988,25.933428,13.718779,CLIENTE14,2023,12,31,23,6
634905,2023-12-31 23:00:00,17.474108,26.698372,98.590042,CLIENTE15,2023,12,31,23,6
678052,2023-12-31 23:00:00,16.165567,28.252473,123.692649,CLIENTE16,2023,12,31,23,6
721464,2023-12-31 23:00:00,15.678946,27.113907,16.863988,CLIENTE17,2023,12,31,23,6
762846,2023-12-31 23:00:00,16.260915,28.091928,64.950216,CLIENTE18,2023,12,31,23,6
805151,2023-12-31 23:00:00,16.335212,26.760407,0.000000,CLIENTE19,2023,12,31,23,6
847959,2023-12-31 23:00:00,15.624457,27.481288,201.534548,CLIENTE20,2023,12,31,23,6