In [2]:
import pandas as pd
import openpyxl
clientes = pd.read_excel('./DATOSCONTUGAS.xlsx', sheet_name=None)

In [4]:
df = []

# Crear columna con el nombre del cliente
for nombre_cliente, df_cliente in clientes.items():
    df_cliente['CLIENTE'] = nombre_cliente  # Agregar columna con nombre del cliente
    df.append(df_cliente)

# Unir todos los DataFrames en uno solo
df = pd.concat(df, ignore_index=True)

# Mostrar el resultado
df.head()

                Fecha    Presion  Temperatura    Volumen   CLIENTE
0 2019-01-14 00:00:00  17.732563    28.209354  20.969751  CLIENTE1
1 2019-01-14 01:00:00  17.747776    28.518614  17.845739  CLIENTE1
2 2019-01-14 02:00:00  17.758916    28.230191  20.975914  CLIENTE1
3 2019-01-14 03:00:00  17.727940    27.811509  20.592299  CLIENTE1
4 2019-01-14 04:00:00  17.746484    27.795293  21.690626  CLIENTE1

In [6]:
df['anio'] = df['Fecha'].dt.year
df['mes'] = df['Fecha'].dt.month
df['dia'] = df['Fecha'].dt.day
df['hora'] = df['Fecha'].dt.hour
df['dia_semana'] = df['Fecha'].dt.dayofweek

In [9]:
df['anio'].unique()

array([2019, 2020, 2021, 2022, 2023], dtype=int32)

In [11]:
df.dtypes

Fecha          datetime64[ns]
Presion               float64
Temperatura           float64
Volumen               float64
CLIENTE                object
anio                    int32
mes                     int32
dia                     int32
hora                    int32
dia_semana              int32
dtype: object

In [21]:
print([{'label': anio, 'value': anio} for anio in df['dia'].unique()])

[{'label': np.int32(14), 'value': np.int32(14)}, {'label': np.int32(15), 'value': np.int32(15)}, {'label': np.int32(16), 'value': np.int32(16)}, {'label': np.int32(17), 'value': np.int32(17)}, {'label': np.int32(18), 'value': np.int32(18)}, {'label': np.int32(19), 'value': np.int32(19)}, {'label': np.int32(20), 'value': np.int32(20)}, {'label': np.int32(21), 'value': np.int32(21)}, {'label': np.int32(22), 'value': np.int32(22)}, {'label': np.int32(23), 'value': np.int32(23)}, {'label': np.int32(24), 'value': np.int32(24)}, {'label': np.int32(25), 'value': np.int32(25)}, {'label': np.int32(26), 'value': np.int32(26)}, {'label': np.int32(27), 'value': np.int32(27)}, {'label': np.int32(28), 'value': np.int32(28)}, {'label': np.int32(29), 'value': np.int32(29)}, {'label': np.int32(30), 'value': np.int32(30)}, {'label': np.int32(31), 'value': np.int32(31)}, {'label': np.int32(1), 'value': np.int32(1)}, {'label': np.int32(2), 'value': np.int32(2)}, {'label': np.int32(3), 'value': np.int32(3)}, {'label': np.int32(4), 'value': np.int32(4)}, {'label': np.int32(5), 'value': np.int32(5)}, {'label': np.int32(6), 'value': np.int32(6)}, {'label': np.int32(7), 'value': np.int32(7)}, {'label': np.int32(8), 'value': np.int32(8)}, {'label': np.int32(9), 'value': np.int32(9)}, {'label': np.int32(10), 'value': np.int32(10)}, {'label': np.int32(11), 'value': np.int32(11)}, {'label': np.int32(12), 'value': np.int32(12)}, {'label': np.int32(13), 'value': np.int32(13)}]

In [13]:
df['anio'].unique()[0]

np.int32(2019)

In [23]:
df['Fecha'] = pd.to_datetime(df['Fecha'])

In [25]:
df.dtypes

Fecha          datetime64[ns]
Presion               float64
Temperatura           float64
Volumen               float64
CLIENTE                object
anio                    int32
mes                     int32
dia                     int32
hora                    int32
dia_semana              int32
dtype: object